---
layout  : example
page_id : page-example-scatterplot
---
<style media="screen">
  svg#scatterplot-d3-demo {
    font-family : sans-serif;
    font-size   : 10px;
  }

  svg#scatterplot-d3-demo .axis path,
  svg#scatterplot-d3-demo .axis line {
    fill            : none;
    stroke          : #000;
    shape-rendering : crispEdges;
  }

  .svg-demo {
    border : 1px solid #DEDEDE;
  }
  .svg-demo .svg-inner {
    padding : 10px;
  }

  svg#scatterplot-d3-demo .dot {
    stroke : #000;
  }
</style>

<section id="section-example">
  <div class="container">
    <div id="row">
      <div class="col-md-6">
        <div class="svg-demo">
          <div class="svg-inner">
            <svg width="100%" height="600" id="scatterplot-plottable-demo"></svg>
          </div>
        </div>

        <div>
          <p>
            <a href="http://bl.ocks.org/mbostock/3887118">D3 scatterplot</a> using Plottable
          </p>
          {% highlight javascript %}
          {% include examples/scatterplot/plottable.js %}
          {% endhighlight %}
        </div>
      </div>

      <div class="col-md-6">
        <div class="svg-demo">
          <svg width="100%" height="600" id="scatterplot-d3-demo"></svg>
        </div>

        <div>
          <p>
            <a href="http://bl.ocks.org/mbostock/3887118">D3 scatterplot</a>
          </p>
          {% highlight javascript %}
          {% include examples/scatterplot/d3.js %}
          {% endhighlight %}
        </div>
      </div>

    </div>
  </div>
</section>

<script>
{% include examples/scatterplot/d3.js %}
{% include examples/scatterplot/plottable.js %}
</script>
