---
layout: example
page_id: page-example-template-name
---

{% comment %}
Define any inline styles necessary for D3
{% endcomment %}
<style media="screen">
svg#linechart-d3-demo {
  font-family: sans-serif;
  font-size: 10px;
}

svg#linechart-d3-demo .axis path,
svg#linechart-d3-demo .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

svg#linechart-d3-demo .x.axis path {
  display: none;
}

svg#linechart-d3-demo .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>

<section id="section-example">
  <div class="container">
    <div id="row">

      {% comment %}
      Left side column, showing Plottable example
      {% endcomment %}
      <div class="col-md-6">
        <div class="svg-demo">
          <svg width="100%" height="600" id="linechart-plottable-demo"></svg>
        </div>
        <div>
          <p>
            <a href="http://bl.ocks.org/mbostock/3884955">D3 multi-series line chart</a> using Plottable
          </p>
          {% comment %}
          Include Javascript File for this example. File should be in `_includes/examples/example-name/plottable.js`

          Make sure you don't indent it the {% include %} line. Otherwise it will insert blank space on the first line.
          {% endcomment %}

          {% highlight javascript %}
{% include examples/linechart/plottable.js %}
          {% endhighlight %}
        </div>
      </div>

      {% comment %}
      Right side column, showing D3 example
      {% endcomment %}
      <div class="col-md-6">
        <div class="svg-demo">
          <svg width="100%" height="600" id="linechart-d3-demo"></svg>
        </div>
        <div>
          <p>
            <a href="http://bl.ocks.org/mbostock/3884955">D3 multi-series line chart</a>
          </p>

          {% comment %}
          Include Javascript File for this example. File should be in `_includes/examples/example-name/d3.js`
          {% endcomment %}

          {% highlight javascript %}
{% include examples/linechart/d3.js %}
          {% endhighlight %}
        </div>
      </div>

    </div>
  </div>
</section>

{% comment %}
Script block, use this to insert JavaScript that needs to run the example.
{% endcomment %}
<script>

{% comment %}
Insert JS required to make the example work. ie. setup code since the isolated example code may not be complete.
{% endcomment %}
var margin = {top: 20, right: 80, bottom: 30, left: 50},
  width = 550 - margin.left - margin.right,
  height = 600 - margin.top - margin.bottom;

var parseDate = d3.time.format("%Y%m%d").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.category10();

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var line = d3.svg.line()
    .interpolate("basis")
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.temperature); });

var svg = d3.select("svg#linechart-d3-demo")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

{% comment %}
Include the JavaScript snippet for both d3 and plottable.
{% endcomment %}

{% include examples/linechart/d3.js %}
{% include examples/linechart/plottable.js %}
</script>
