---
layout  : subpage
page_id : page-components
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/qtip2/jquery.qtip.css">
<script src="{{ site.baseurl }}/bower_components/qtip2/jquery.qtip{{ site.minifiedSuffix }}.js"></script>
<div class="container">
  <h2>The Component List</h2>
The best way to think about Plottable that you will not be rendering plots, but you will be rendering components or tables of components.  Even a plot is considered a component!<br><br>
By thinking in this manner, one can imagine that any component can be dropped into any cell of a table, meaning you have flexibility on where components go in relation to other components.<br><br>

Below are a variety of components you can choose from to place onto your Plottable table.
</div>


<div class="container">

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Plots</h2>
      <h3>Bar Plot</h3>
      <svg id="barPlot" height="250" title='new Plottable.Plot.Bar(xScale, yScale, true)'></svg>
      <h3>Line Plot</h3>
      <svg id="linePlot" height="250" title='new Plottable.Plot.Line(xScale, yScale)'></svg>
      <h3>Area Plot</h3>
      <svg id="areaPlot" height="250" title='new Plottable.Plot.Area(xScale, yScale)'></svg>
      <h3>Scatter</h3>
      <svg id="scatterPlot" height="250" title='new Plottable.Plot.Scatter(xScale, yScale)'></svg>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Axes</h2>
      <h3>Numeric Axis</h3>
      <svg id="numericAxis" height="50" title='new Plottable.Axis.Numeric(xScale, "bottom")'></svg>
      <h3>Category Axis</h3>
      <svg id="categoryAxis" height="50" title='new Plottable.Axis.Category(xScale, "bottom")'></svg>
      <h3>Time Axis</h3>
      <svg id="timeAxis" height="50" title='new Plottable.Axis.Time(xScale, "bottom")'></svg>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Labels</h2>
      <h3>Regular Label</h3>
      <svg id="label" height="50" title='new Plottable.Component.Label("Hello world!")'></svg>
      <h3>Title Label</h3>
      <svg id="titleLabel" height="50" title='new Plottable.Component.TitleLabel("Hello world!")'></svg>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Legends</h2>
      <svg id="legend" height="50" title='new Plottable.Component.Legend(colorScale)'></svg>
    </div>
  </div>
</div>

<script src="component_example_list.js"></script>
<script>
window.onload = function() {

  // axis
  axis("numeric", "bottom").renderTo("#numericAxis");
  axis("category", "bottom").renderTo("#categoryAxis");
  axis("time", "bottom").renderTo("#timeAxis");

  // plots
  verticalBarPlot().renderTo("#barPlot");
  makeXYPlot("line").renderTo("#linePlot");
  makeXYPlot("area").renderTo("#areaPlot");
  makeXYPlot("scatter").renderTo("#scatterPlot");

  label("Hello world!", "horizontal").renderTo("#label");
  titleLabel("Hello world!", "horizontal").renderTo("#titleLabel");

  legend().renderTo("#legend");

  //Attach tooltips with qTip2 (which uses the "title" attribute by default)
  $("svg").qtip({
    position : {
      my : "bottom middle",
      at : "top middle"
    },
    style : {
      classes : "qtip-dark"
    }
  });
}
</script>
