---
layout  : subpage
page_id : page-components
---
<div class="container">
  <h2>The Component List</h2>
The best way to think about Plottable that you will not be rendering plots, but you will be rendering components or tables of components.  Even a plot is considered a component!<br><br>
By thinking in this manner, one can imagine that any component can be dropped into any cell of a table, meaning you have flexibility on where components go in relation to other components.<br><br>

Below are a variety of components you can choose from to place onto your Plottable table.
</div>


<div class="container">

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Plots</h2>
      <h3>Bar Plot</h3>
      <div border="2px solid"><svg id="barPlot" height="250"></svg></div>

      <h3>Line Plot</h3>
      <svg id="linePlot" height="250"></svg>
      <h3>Area Plot</h3>
      <svg id="areaPlot" height="250"></svg>
      <h3>Scatter</h3>
      <svg id="scatterPlot" height="250"></svg>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Axes</h2>
      <h3>Numeric Axis</h3>
      <svg id="numericAxis" height="50"></svg>
      <h3>Category Axis</h3>
      <svg id="categoryAxis" height="50"></svg>
      <h3>Time Axis</h3>
      <svg id="timeAxis" height="50"></svg>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Labels</h2>
      <h3>Regular Label</h3>
      <svg id="label" height="50"></svg>
      <h3>Title Label</h3>
      <svg id="titleLabel" height="50"></svg>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Legends</h2>
      <svg id="legend" height="50"></svg>
    </div>
  </div>
</div>

<script src="component_example_list.js"></script>
<script>
window.onload = function() {

  // axis
  axis("numeric", "bottom").renderTo("#numericAxis");
  axis("category", "bottom").renderTo("#categoryAxis");
  axis("time", "bottom").renderTo("#timeAxis");

  // plots
  verticalBarPlot().renderTo("#barPlot");
  makeXYPlot("line").renderTo("#linePlot");
  makeXYPlot("area").renderTo("#areaPlot");
  makeXYPlot("scatter").renderTo("#scatterPlot");

  label("Hello world!", "horizontal").renderTo("#label");
  titleLabel("Hello world!", "horizontal").renderTo("#titleLabel");

  legend().renderTo("#legend");
}
</script>
