---
layout  : subpage
page_id : page-components
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/qtip2/jquery.qtip.css">
<script src="{{ site.baseurl }}/bower_components/qtip2/jquery.qtip{{ site.minifiedSuffix }}.js"></script>
<script src="{{ site.baseurl }}/bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
<style>
.qtip-dark {
  font-size: 20px;
  max-width: 700px;
}

.copied-notification {
  display: none;
}

.glyphicon-copy {
  font-size: 15px;
  margin-left: 2px;
  cursor: pointer;
}
</style>

<div class="container">
  <h1>Plottable Components</h1>
  <nav>
    <ul>
      <li>
        <a href="#plottable-components-tables">Components and Tables</a>
      </li>
      <li>
        <a href="#plottable-available-components">Available Components</a>
      </li>
    </ul>
  </nav>
</div>


<div class="container" id="plottable-components-tables">
  <h2 >Components and Tables</h2>
  Charts in Plottable are tables, where each cell of the table contains a Component.<br><br>
  Plottable Components include axes, labels, plotted points, bars, lines, and more.
  When working in Plottable, it is helpful to visualize charts as tables full of Components, as this way of thinking allows you to take advantage of Plottable's flexibility.<br><br>
  Suppose you want a simple bar chart.
  It will have an X-axis, a Y-axis, and some bars plotted on those axes.
  In Plottable this chart can be built with three Components: two Axes, and a Bar Plot.
  A 2x2 table allows you to arrange these three Components in a quick and obvious way, resulting in a classic bar chart, like this:<br><br>
  <svg id="simple-plot-table" height="300"></svg><br><br>
  The codified version of the above table would look like this:
  {% highlight javascript %}
  Instantiate and setup the necessary components...
  var table = new Plottable.Component.Table([
                                             [yAxis, barPlot],
                                             [null,  xAxis  ]
                                                              ]);
  table.renderTo(svg);
  {% endhighlight %}
  This simple way of building charts can be extended to create very complex charts.<br><br>
  Suppose you want to add more Components to your bar chart.
  You want a second plot of bars on the same X-axis, but stacked on top of the previous plot.
  You decide that you also want the second plot to have its own Y-axis on the right side of the chart.
  In addition, you want to add labels to all three axes, and a top label for the entire chart.
  This complex chart is still easy to build in Plottable if you think about arranging the needed Components in a table.<br><br>
  For this chart you need: one Axis for the X dimension, two Axes for the Y dimension, two Bar Plots, three Labels, and one Title Label.
  With a little thought, these nine Components can be neatly arranged in a 5x5 table to achieve the exact effect you desired:<br><br>
  <svg id="complex-plot-table" height="300"></svg>
  The codified version of the above table would look like this:
  {% highlight javascript %}
  Instantiate and setup the necessary components...
  var table = new Plottable.Component.Table([
                                             [null,        null,   titleLabel, null,   null       ],
                                             [null,        null,   barPlot0,   yAxis0, yAxisLabel0],
                                             [yAxisLabel1, yAxis1, barPlot1,   null,   null       ],
                                             [null,        null,   xAxis,      null,   null       ],
                                             [null,        null,   xAxisLabel, null,   null       ]
                                                                                                    ]);
  table.renderTo(svg);
  {% endhighlight %}
</div>

<div class="container" id="plottable-available-components">
  <h2>Available Components</h2>
</div>


<div class="container">

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Plots</h2>
      <h3>
        Bar Plot
        <span class="glyphicon glyphicon-copy" id="barPlotClipButton" data-clipboard-text="new Plottable.Plot.Bar(xScale, yScale, true)"></span>
        <span class="copied-notification" id="barPlotCopied">Copied!</span>
      </h3>
      <svg id="barPlot" height="250" title='new Plottable.Plot.Bar(xScale, yScale, true)'></svg>
      <h3>
        Line Plot
        <span class="glyphicon glyphicon-copy" id="linePlotClipButton" data-clipboard-text="new Plottable.Plot.Line(xScale, yScale)"></span>
        <span class="copied-notification" id="linePlotCopied">Copied!</span>
      </h3>
      <svg id="linePlot" height="250" title='new Plottable.Plot.Line(xScale, yScale)'></svg>
      <h3>
        Area Plot
        <span class="glyphicon glyphicon-copy" id="areaPlotClipButton" data-clipboard-text="new Plottable.Plot.Area(xScale, yScale)"></span>
        <span class="copied-notification" id="areaPlotCopied">Copied!</span>
      </h3>
      <svg id="areaPlot" height="250" title='new Plottable.Plot.Area(xScale, yScale)'></svg>
      <h3>
        Scatter Plot
        <span class="glyphicon glyphicon-copy" id="scatterPlotClipButton" data-clipboard-text="new Plottable.Plot.Scatter(xScale, yScale)"></span>
        <span class="copied-notification" id="scatterPlotCopied">Copied!</span>
      </h3>
      <svg id="scatterPlot" height="250" title='new Plottable.Plot.Scatter(xScale, yScale)'></svg>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Axes</h2>
      <h3>
        Numeric Axis
        <span class="glyphicon glyphicon-copy" id="numericAxisClipButton" data-clipboard-text='new Plottable.Axis.Numeric(xScale, "bottom")'></span>
        <span class="copied-notification" id="numericAxisCopied">Copied!</span>
      </h3>
      <svg id="numericAxis" height="50" title='new Plottable.Axis.Numeric(xScale, "bottom")'></svg>
      <h3>
        Category Axis
        <span class="glyphicon glyphicon-copy" id="categoryAxisClipButton" data-clipboard-text='new Plottable.Axis.Category(xScale, "bottom")'></span>
        <span class="copied-notification" id="categoryAxisCopied">Copied!</span>
      </h3>
      <svg id="categoryAxis" height="50" title='new Plottable.Axis.Category(xScale, "bottom")'></svg>
      <h3>
        Time Axis
        <span class="glyphicon glyphicon-copy" id="timeAxisClipButton" data-clipboard-text='new Plottable.Axis.Time(xScale, "bottom")'></span>
        <span class="copied-notification" id="timeAxisCopied">Copied!</span>
      </h3>
      <svg id="timeAxis" height="50" title='new Plottable.Axis.Time(xScale, "bottom")'></svg>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Labels</h2>
      <h3>
        Regular Label
        <span class="glyphicon glyphicon-copy" id="labelClipButton" data-clipboard-text='new Plottable.Component.Label("Hello world!")'></span>
        <span class="copied-notification" id="labelCopied">Copied!</span>
      </h3>
      <svg id="label" height="50" title='new Plottable.Component.Label("Hello world!")'></svg>
      <h3>
        Title Label
        <span class="glyphicon glyphicon-copy" id="titleLabelClipButton" data-clipboard-text='new Plottable.Component.TitleLabel("Hello world!")'></span>
        <span class="copied-notification" id="titleLabelCopied">Copied!</span>
      </h3>
      <svg id="titleLabel" height="50" title='new Plottable.Component.TitleLabel("Hello world!")'></svg>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Legends</h2>
      <h3>
        Regular Legend
        <span class="glyphicon glyphicon-copy" id="legendClipButton" data-clipboard-text='new Plottable.Component.Legend(colorScale)'></span>
        <span class="copied-notification" id="legendCopied">Copied!</span>
      </h3>
      <svg id="legend" height="50" title='new Plottable.Component.Legend(colorScale)'></svg>
      <h3>
        Interpolated Color Legend
        <span class="glyphicon glyphicon-copy" id="interpolatedColorLegendClipButton" data-clipboard-text='new Plottable.Component.InterpolatedColorLegend(interpolatedColorScale)'></span>
        <span class="copied-notification" id="interpolatedColorLegendCopied">Copied!</span>
      </h3>
      <svg id="interpolatedColorLegend" height="50" title='new Plottable.Component.InterpolatedColorLegend(interpolatedColorScale)'></svg>
    </div>
  </div>
</div>

<script src="component_example_list.js"></script>
<script>
window.onload = function() {
  ZeroClipboard.config( { swfPath: "{{ site.baseurl }}/bower_components/zeroclipboard/dist/ZeroClipboard.swf" } );

  var topLevelComponents = [];
  $(window).resize(function() {
    topLevelComponents.forEach(function(component) {
      component.redraw();
    });
  });

  // axes
  var numericAxis = axis("numeric", "bottom").renderTo("#numericAxis");
  topLevelComponents.push(numericAxis);
  var categoryAxis = axis("category", "bottom").renderTo("#categoryAxis");
  topLevelComponents.push(categoryAxis);
  var timeAxis = axis("time", "bottom").renderTo("#timeAxis");
  topLevelComponents.push(timeAxis);

  // plots
  var barPlot = verticalBarPlot().renderTo("#barPlot");
  topLevelComponents.push(barPlot);
  var linePlot = makeXYPlot("line").renderTo("#linePlot");
  topLevelComponents.push(linePlot);
  var areaPlot = makeXYPlot("area").renderTo("#areaPlot");
  topLevelComponents.push(areaPlot);
  var scatterPlot = makeXYPlot("scatter").renderTo("#scatterPlot");
  topLevelComponents.push(scatterPlot);

  var lbl = label("Hello world!", "horizontal").renderTo("#label");
  topLevelComponents.push(lbl);
  var titleLbl = titleLabel("Hello world!", "horizontal").renderTo("#titleLabel");
  topLevelComponents.push(titleLbl);

  var leg = legend().renderTo("#legend");
  topLevelComponents.push(leg);
  var icl = interpolatedColorLegend().renderTo("#interpolatedColorLegend");
  topLevelComponents.push(icl);

  //Attach tooltips with qTip2 (which uses the "title" attribute by default)
  $("svg").qtip({
    position : {
      my : "bottom middle",
      at : "top middle"
    },
    style : {
      classes : "qtip-dark"
    }
  });

  var simpleData = [{x: "First", y: 5}, {x: "Second", y: 10}, {x: "Third", y: 14}];
  var simpleXScale = new Plottable.Scale.Category();
  var simpleYScale = new Plottable.Scale.Linear();
  var simpleXAxis = new Plottable.Axis.Category(simpleXScale, "bottom");
  var simpleYAxis = new Plottable.Axis.Numeric(simpleYScale, "left");
  var simpleBarPlot = new Plottable.Plot.Bar(simpleXScale, simpleYScale)
                                        .addDataset(simpleData)
                                        .project("x", "x", simpleXScale)
                                        .project("y", "y", simpleYScale);
  var simpleChartTable = new Plottable.Component.Table([[simpleYAxis, simpleBarPlot],
                                                  [null, simpleXAxis]]);
  simpleChartTable.renderTo("#simple-plot-table");
  topLevelComponents.push(simpleChartTable);

  var data0 = [{x: "A", y: 5}, {x: "B", y: 10}, {x: "C", y: 14}];
  var data1 = [{x: "A", y: 2}, {x: "B", y: 13}, {x: "C", y: 12}];
  var xScale = new Plottable.Scale.Category();
  var yScale0 = new Plottable.Scale.Linear();
  var yScale1 = new Plottable.Scale.Linear();
  var xAxis = new Plottable.Axis.Category(xScale, "bottom");
  var yAxis0 = new Plottable.Axis.Numeric(yScale0, "right");
  var yAxis1 = new Plottable.Axis.Numeric(yScale1, "left");
  var barPlot0 = new Plottable.Plot.Bar(xScale, yScale0)
                                   .addDataset(data0)
                                   .project("x", "x", xScale)
                                   .project("y", "y", yScale0);
  var barPlot1 = new Plottable.Plot.Bar(xScale, yScale1)
                                   .addDataset(data1)
                                   .project("x", "x", xScale)
                                   .project("y", "y", yScale1);
  var yLabel0 = new Plottable.Component.Label("Top", "right");
  var yLabel1 = new Plottable.Component.Label("Bottom", "left");
  var xLabel = new Plottable.Component.Label("Categories");
  var masterLabel = new Plottable.Component.TitleLabel("The Master Plot");
  var table = new Plottable.Component.Table([[null, null, masterLabel, null, null],
                                             [null, null, barPlot0, yAxis0, yLabel0],
                                             [yLabel1, yAxis1, barPlot1, null, null],
                                             [null, null, xAxis, null, null],
                                             [null, null, xLabel, null, null]]);
  table.renderTo("#complex-plot-table");
  topLevelComponents.push(table);

  var tooltipPositionParams = { my: "bottom middle", at: "top middle" };
  function drawSimpleChartTooltips() {
    var simpleWidths = [simpleYAxis.width(), simpleXAxis.width()];
    var simpleHeights = [simpleYAxis.height(), simpleXAxis.height()];
    var combos = [];
    for (var i = 0; i < 2; i++) {
      for (var j = 0; j < 2; j++) {
        combos.push([simpleWidths[j], simpleHeights[i]]);
      }
    }
    var cells = d3.select("#simple-plot-table").selectAll(".website-table-cells").data(combos);
    cells.enter().append("rect").classed("website-table-cells", true);
    cells.exit().remove();
    cells.attr("stroke", "black")
         .attr("fill", "transparent")
         .attr("width", function(d) { return d[0];})
         .attr("height", function(d) { return d[1];})
         .attr("x", function(d, i) { return Math.max(0, d3.sum(simpleWidths.slice(0, i % 2)));})
         .attr("y", function(d, i) { return Math.max(0, d3.sum(simpleHeights.slice(0, Math.floor(i / 2))));})
         .attr("id", function(d, i) { return "simpleTableCell-" + i % 2 + "-" + Math.floor(i / 2); })
         .each(function(d) { $(this).qtip({content: "null", position: { my: "bottom middle", at: "top middle" }, style: {classes: "qtip-dark"}});; });

    $("#simpleTableCell-0-0").qtip({content: "new Plottable.Axis.Numeric(yScale, \"left\")", position: tooltipPositionParams, style: {classes: "qtip-dark"}});
    $("#simpleTableCell-1-0").qtip({content: "new Plottable.Plot.Bar(xScale, yScale)", position: tooltipPositionParams, style: {classes: "qtip-dark"}});
    $("#simpleTableCell-1-1").qtip({content: "new Plottable.Axis.Category(xScale, \"bottom\")", position: tooltipPositionParams, style: {classes: "qtip-dark"}});
  }
  drawSimpleChartTooltips();
  $(window).resize(drawSimpleChartTooltips);

  function drawComplexChartTooltips() {
    var widths = [yLabel1.width(), yAxis1.width(), xAxis.width(), yAxis0.width(), yLabel0.width()];
    var heights = [masterLabel.height(), yAxis0.height(), yAxis1.height(), xAxis.height(), xLabel.height()];
    combos = [];
    for (var i = 0; i < 5; i++) {
    for (var j = 0; j < 5; j++) {
        combos.push([widths[j], heights[i]]);
    }
    }
    var complexCells = d3.select("#complex-plot-table").selectAll(".website-table-cells").data(combos);
    complexCells.enter().append("rect").classed("website-table-cells", true);
    complexCells.exit().remove();
    complexCells.attr("stroke", "black")
                .attr("fill", "transparent")
                .attr("width", function(d) { return d[0];})
                .attr("height", function(d) { return d[1];})
                .attr("x", function(d, i) { return Math.max(0, d3.sum(widths.slice(0, i % 5)));})
                .attr("y", function(d, i) { return Math.max(0, d3.sum(heights.slice(0, Math.floor(i / 5))));})
                .attr("id", function(d, i) { return "complexTableCell-" + i % 5 + "-" + Math.floor(i / 5); })
                .each(function(d) { $(this).qtip({content: "null", position: { my: "bottom middle", at: "top middle" }, style: {classes: "qtip-dark"}});; });


    $("#complexTableCell-2-0").qtip({content: "new Plottable.Component.TitleLabel(\"The Master Plot\")", position: tooltipPositionParams, style: {classes: "qtip-dark"}});
    $("#complexTableCell-2-1").qtip({content: "new Plottable.Plot.Bar(xScale, yScale0)", position: tooltipPositionParams, style: {classes: "qtip-dark"}});
    $("#complexTableCell-3-1").qtip({content: "new Plottable.Axis.Linear(yScale0, \"right\")", position: tooltipPositionParams, style: {classes: "qtip-dark"}});
    $("#complexTableCell-4-1").qtip({content: "new Plottable.Component.Label(\"Top\", \"right\")", position: tooltipPositionParams, style: {classes: "qtip-dark"}});
    $("#complexTableCell-0-2").qtip({content: "new Plottable.Component.Label(\"Bottom\", \"left\")", position: tooltipPositionParams, style: {classes: "qtip-dark"}});
    $("#complexTableCell-1-2").qtip({content: "new Plottable.Axis.Linear(yScale1, \"left\")", position: tooltipPositionParams, style: {classes: "qtip-dark"}});
    $("#complexTableCell-2-2").qtip({content: "new Plottable.Plot.Bar(xScale, yScale1)", position: tooltipPositionParams, style: {classes: "qtip-dark"}});
    $("#complexTableCell-2-3").qtip({content: "new Plottable.Axis.Linear(xScale, \"bottom\")", position: tooltipPositionParams, style: {classes: "qtip-dark"}});
    $("#complexTableCell-2-4").qtip({content: "new Plottable.Component.Label(\"Categories\")", position: tooltipPositionParams, style: {classes: "qtip-dark"}});
  }
  drawComplexChartTooltips();
  $(window).resize(drawComplexChartTooltips);

  var highlightColor = "#cdecf8";
  $(".website-table-cells").hover(function() { $(this).attr("fill", highlightColor).attr("opacity", 0.25); },
                                  function() { $(this).attr("fill", "transparent").attr("opacity", 1); });

  var componentSelectors = ["barPlot", "linePlot", "areaPlot", "scatterPlot",
                            "numericAxis", "categoryAxis", "timeAxis",
                            "label", "titleLabel",
                            "legend", "interpolatedColorLegend"];

  componentSelectors.forEach(function(componentSelector) {
    var clipButton = $("#" + componentSelector + "ClipButton");
    var clipButtonClient = new ZeroClipboard(clipButton);
    clipButtonClient.on( "ready", function( readyEvent ) {
      clipButtonClient.on( "aftercopy", function( event ) {
        $("#" + componentSelector + "Copied").show().fadeOut(1500);
      });
    });
  });
}
</script>
