---
layout  : example
page_id : page-examples
---
<section>
  <div class="container">

    {% for category in site.data.examples %}
    <div class="row{% unless forloop.first %} row-gap{% endunless %}">
      <div class="col-md-8 col-md-offset-2 component-group">
        <h2>{{ category.category }}</h2>
        {% for example in category.examples %}
          {% assign index = forloop.index | modulo: 5 %}
          {% if index == 0 %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          {% endif %}
        <div class="col-md-3">
          <a class="example-block" href="{{ site.baseurl }}/examples/{{ example.path }}/" title="{{ example.name }}">
            {% assign preview_path = example.path | append: '/preview.html' %}
            {% include_relative {{ preview_path }} %}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}

  </div><!-- /.container -->

</section>

<script src="{{ site.baseurl }}/components/component_example_list.js"></script>
