<section id="section-example">
  <div class="container">
    <div id="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="svg-demo">
          <svg width="100%" height="400" id="example"></svg>
        </div>

        <div>
          {% highlight javascript %}
          {% include {{include.script}} %}
          {% endhighlight %}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    {% include {{include.script}} %}
  });
</script>
