---
layout: subpage
page_id: page-chartographer
title: Chartographer
---

<div class="container">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title"><h2>Chartographer</h2></h3>
    </div>

    <div class="panel-body">
      <p>
        <strong>Chartographer</strong> is a sister library of Plottable. It uses a very simple declarative syntax to help you get started using Plottable components quickly.
      </p>
      <p>
        Check out the examples below to see how easy it is to create great looking Plottable charts with <strong>Chartographer</strong>!
      </p>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Line Chart</h2>
      <svg id="chartographer-example-line" height="300"></svg>
      <p>        
        {% highlight javascript %}
        {% include chartographer/example-linechart.js %}
        {% endhighlight %}
      </p>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Time Series</h2>
      <svg id="chartographer-example-time" height="300"></svg>
      <p>        
        {% highlight javascript %}
        {% include chartographer/example-timechart.js %}
        {% endhighlight %}
      </p>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Scatter Plot</h2>
      <svg id="chartographer-example-scatter" height="300"></svg>
      <p>        
        {% highlight javascript %}
        {% include chartographer/example-scatter.js %}
        {% endhighlight %}
      </p>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Bar Chart</h2>
      <svg id="chartographer-example-bar" height="300"></svg>
      <p>        
        {% highlight javascript %}
        {% include chartographer/example-barchart.js %}
        {% endhighlight %}
      </p>
    </div>
  </div>

  <div class="row component-group">
    <div class="col-md-12">
      <h2>Stacked Bar Chart</h2>
      <svg id="chartographer-example-stacked-bar" height="300"></svg>
      <p>        
        {% highlight javascript %}
        {% include chartographer/example-stacked-bar.js %}
        {% endhighlight %}
      </p>
    </div>
  </div>

</div>

<script src="{{ site.baseurl }}/bower_components/chartographer/chartographer.js"></script>
<script>
  window.onload = function() {
    {% include chartographer/example-linechart.js %}
    {% include chartographer/example-timechart.js %}
    {% include chartographer/example-scatter.js %}
    {% include chartographer/example-barchart.js %}
    {% include chartographer/example-stacked-bar.js %}
  }
</script>
