---
layout  : example
page_id : page-example-spaceships
---

<script src="{{ site.baseurl }}/bower_components/lodash/dist/lodash{{ site.minifiedSuffix }}.js"></script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/qtip2/jquery.qtip.css">
<script src="{{ site.baseurl }}/bower_components/qtip2/jquery.qtip{{ site.minifiedSuffix }}.js"></script>
<style type="text/css">
  .tooltip-title{
    font-size   : 1.2em;
    line-height : 1.2em;
  }
  .tooltip-value{
    font-size   : 1.5em;
    line-height : 1.5em;
  }
</style>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Let's Begin!</h2>
    <p>
      We've loaded in a data set of all the ships available in <strong><a
      href="http://www.eveonline.com/">EVE Online</a></strong>, and we'd like
      to explore it. First, to get a sense for what's in this high-dimensional
      data, let's make a histogram of the types of ships.
    </p>
  </div>
</div>
{% include examples/template.html script="examples/electricity-labels/electricityStackedBar.js" idSuffix="-electricity-stacked-bar" %}
{% include examples/template.html script="examples/electricity-labels/electricityStackedBarPercentage.js" idSuffix="-electricity-stacked-bar-percentage" %}

{% include examples/template.html script="examples/electricity-labels/electricityStackedArea.js" idSuffix="-electricity-stacked-area" %}


