---
layout  : example
page_id : page-example-spaceships
---

<script src="{{ site.baseurl }}/bower_components/lodash/dist/lodash{{ site.minifiedSuffix }}.js"></script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/qtip2/jquery.qtip.css">
<script src="{{ site.baseurl }}/bower_components/qtip2/jquery.qtip{{ site.minifiedSuffix }}.js"></script>
<style type="text/css">
  .tooltip-title{
    font-size   : 1.2em;
    line-height : 1.2em;
  }
  .tooltip-value{
    font-size   : 1.5em;
    line-height : 1.5em;
  }
</style>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
        To start with, let's see breakdown by fuel source for the electricity generaiton from a number of the world's largest electricity producers. These statistics are from 2012, as reported by the World Development Indicators.
    </p>
  </div>
</div>
{% include examples/template.html script="electricityStackedBarPercentage.js" idSuffix="-electricity-stacked-bar-percentage" %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
        This gives us an idea of how the breakdown varies by country, but not the aggregate electricity production in each country. The following bar chart, which is non-normalized, shows us that China and the US are the biggest electricity producers in the world.
    </p>
  </div>
</div>

{% include examples/template.html script="electricityStackedBar.js" idSuffix="-electricity-stacked-bar" %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
        Finally, a stacked area chart showing global power production over time shows us how the world's electricity consumption has changed over the last 40 years.
    </p>
  </div>
</div>


{% include examples/template.html script="electricityStackedArea.js" idSuffix="-electricity-stacked-area" %}
